/ {
	aliases{
		adc-touch-sensor = &adc0;
		adc-touch-sensor-x = &adc0_ch4;
		adc-touch-sensor-y = &adc0_ch6;
	};

    touch_sensor_pins: touch_sensor_pins_node {
		// compatible = "gpio-keys";     // REQUIRED so the node is valid
		compatible = "zephyr,gpio-array";
        status = "okay";
		pinctrl-0 = <&touch_sensor_digital>;
    	pinctrl-names = "default";
		// x_m_pin: x-m-pin{
        // 	gpios = <&porta 18 GPIO_ACTIVE_HIGH>;
		// 	label = "X M Pin";
		// };
		// x_p_pin: x-p-pin{
        // 	gpios = <&porta 20 GPIO_ACTIVE_HIGH>;
		// 	label = "X P Pin";
		// };
		// y_m_pin: y-m-pin{
        // 	gpios = <&porta 21 GPIO_ACTIVE_HIGH>;
		// 	label = "Y M Pin";
		// };
		// y_p_pin: y-p-pin{
        // 	gpios = <&porta 19 GPIO_ACTIVE_HIGH>;
		// 	label = "Y P Pin";
		// };
    };

    servo_left: servo_left {
        compatible = "pwm-servo";
        pwms = <&tcc0 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(544)>;
        max-pulse = <PWM_USEC(2400)>;
    };

    servo_right: servo_right {
        compatible = "pwm-servo";
        pwms = <&tcc0 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(544)>;
        max-pulse = <PWM_USEC(2400)>;
    };
};

&pinctrl {
	sercom3_uart_default: sercom3_uart_default {
		group1 {
			pinmux = <PA22C_SERCOM3_PAD0>,
				 <PA23C_SERCOM3_PAD1>;
		};
	};
    servo_pins: servo_pins{
        group1 {
			pinmux = <PB12G_TCC0_WO0>, // D7
				 <PB14G_TCC0_WO2>;     // D5
		};
    };

    touch_sensor_analog: touch_sensor_analog{
        group1 {
			pinmux = <PA6B_ADC0_AIN6>, // A2
				 <PA4B_ADC0_AIN4>;     // A3
		};
    };
    touch_sensor_digital: touch_sensor_digital{
        group1 {
			pinmux = <PA18_GPIO>,
				 <PA19_GPIO>,
				 <PA20_GPIO>,
				 <PA21_GPIO>;
				 drive-strength = <1>;   /* High drive strength */
		};
    };
};


&tcc0 {
	status = "okay";
	compatible = "atmel,sam0-tcc-pwm";
	/* Gives a maximum period of 1.1s for 120MHz main clock */
	prescaler = <8>;
	#pwm-cells = <2>;

	pinctrl-0 = <&servo_pins>;
	pinctrl-names = "default";
};

&sercom3 {
	status = "okay";
	compatible = "atmel,sam0-uart";
	current-speed = <115200>;
	rxpo = <1>;
	txpo = <0>;
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&sercom3_uart_default>;
	pinctrl-names = "default";
};

&adc0 {
	status = "okay";
	pinctrl-0 =  <&touch_sensor_analog>;
    pinctrl-names = "default";

	/* Required so channel@N works with reg=<N>; */
    #address-cells = <1>;
    #size-cells = <0>;

	adc0_ch4: channel@4{
		reg = <4>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_VDD_1";
		zephyr,vref-mv = <3300>; 
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
	
	adc0_ch6: channel@6{
		reg = <6>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_VDD_1";
		zephyr,vref-mv = <3300>; 
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};