/ {
    aliases {
        led1 = &ext_led;
        sw0 = &user_button;
        pwm-servo = &tcc0;
    };

    servo_left: servo_left {
        compatible = "pwm-servo";
        pwms = <&tcc0 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;
    };

    servo_right: servo_right {
        compatible = "pwm-servo";
        pwms = <&tcc0 3 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;
    };

    leds {
        compatible = "gpio-leds";
        ext_led: led_1 {
            gpios = <&portb 2 GPIO_ACTIVE_HIGH>;
            label = "EXT_LED";
        };
    };

    buttons {
        compatible = "gpio-keys";
        user_button: button_0 {
            gpios = <&portc 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "USER_BUTTON";
        };
    };
};

&pinctrl {
    servo_pins: servo_pins{
        group1{
            pinmux = <PB14G_TCC0_WO2>, <PB15G_TCC0_WO3>;
        };
    };
    adc1_default: adc1_default {
        group1 {
            pinmux = <PB4B_ADC1_AIN6>, <PB5B_ADC1_AIN7>;
        };
    };
};

&tcc0 {
    pinctrl-0 = <&servo_pins>;
};

&adc1 {
    status = "okay";
    pinctrl-0 = <&adc1_default>;
    pinctrl-names = "default";
};